  <div class="row">
    <div class="col-md-12">
      <div class="project_video">
        <h2 class="project_card_title">Eind project on Le Wagon</h2>
          <div class="video-youtube">
            <iframe class="video" width="1560" height="915" src="https://www.youtube.com/embed/g7OyPhu_LVU" title="virtual-styler" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <h2 class="project_description" >This project I did it with 3 other classmates. this presenter was presented by 2 of my classmates.</h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="spacetrip_project">
        <h2 class="project_title_spacetrip">First Project Spacetrip</h2>
        <div class="slider_project">
          <span id="slide-1"></span>
          <span id="slide-2"></span>
          <span id="slide-3"></span>
          <span id="slide-4"></span>
          <span id="slide-5"></span>
          <div class="image_container">
            <%= cl_image_tag("Spacetrip_-_1_ert0oz", class: "slide_project", width: "1450", height: "800") %>
            <%= cl_image_tag("Spacetrip_-_2_xklcit", class: "slide_project", width: "1450", height: "800") %>
            <%= cl_image_tag("Spacetrip_-_3_ls118i", class: "slide_project", width: "1450", height: "800") %>
            <%= cl_image_tag("Spacetrip_-_4_xoyob0", class: "slide_project", width: "1450", height: "800") %>
            <%= cl_image_tag("Spacetrip_-_5_ft0cqo", class: "slide_project", width: "1450", height: "800") %>
          </div>
          <div class="buttons_project">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
            <a href="#slide-4"></a>
            <a href="#slide-5"></a>
          </div>
        </div>
          <h2 class="project_description_spacetrip" >The first project was the task: Make a website that is simailer to Airbnb and use your fantasy. Me and my team came with the idea to rent spaceships. In Airbnb style.</h2>
      </div>
    </div>
  </div>
