<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= cl_image_tag("background_test_y2ahgi", alt: "background", class: "background_container") %>
      <div class='container'>
        <div class='row'>
          <div class='col-11'>
            <div class='navbar'>
              <div class='navbar-2'>
                <a class='navbar-item' href='project' >Project</a>
                <a class='navbar-item' href='about' >About</a>
                <a class='navbar-item' href="/" >Home</a>
              </div>
            </div>
          </div>
          <div class='col-1'>
            <div class="dropdown">
              <%= cl_image_tag("icon-social-media_sdp9mt", alt: "icon social", class: "icon") %>
              <div class="dropdown-options">
                <a href="https://www.linkedin.com/in/robinvorstedt/" alt="link to linkedin" target="_blank">
                  <%= cl_image_tag("Linkedin_logo_version_2_svcekn", alt: "icon linkedin", class: "icon_style") %>
                  Linkedin
                </a>
                <a href="https://github.com/RobinV-sudo/" alt="link to github" target="_blank">
                  <%= cl_image_tag("icon-github_ztzcuj", alt: "icon github", class: "icon_style") %>
                  Github
                </a>
                <a href="mailto:robinvorstedt@outlook.com" alt="link to e-mail" target="_blank">
                  <%= cl_image_tag("Mail-icon_k5oitc", alt: "icon mail", class: "icon_style") %>
                  E-mail
                </a>
                <a href="https://api.whatsapp.com/send?phone=31640229542" alt="link to whatsapp" target="_blank">
                  <%= cl_image_tag("Whatsapp_logo_version_2_agvr4g", alt: "icon whatsapp", class: "icon_style") %>
                  Whatsapp
                </a>
                <a href="#" alt="link to kakeotalk" target="_blank"> <!-- Assuming you haven't provided a link for KakeoTalk yet -->
                  <%= cl_image_tag("kakaotalk-icon_wobug1", alt: "icon kakaotalk", class: "icon_style") %>
                  KakeoTalk
                </a>
              </div>
            </div>
          </div>
        </div>
        <%= yield %>
      </div>
  </body>
</html>
